.contact-logs-title {
    font-size: 48px;
    line-height: 74px;
    font-family: 'sweet-sans-pro';
    font-weight: 600;
    color: #EAEAEB;
    text-align: center;
    padding: 150px 0px 35px;
    border-bottom: 1px solid #707070;
    margin: 0;
}