/* General */

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Form Screen */

#screen-1 {
    display: none;
}

.app {
    position: fixed;
    height:100vh;
    width: 100vw;
    /* background-color: pink; */
}

.company-logo {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.company-name {
    margin: 0;
    font-weight: normal;
    text-align: center;
}

.app-header {
    height: 20%;
    width: 100%;
    /* background-color: red; */
}

.check-in {
    height: 70%;
    /* background-color: green; */
}

.check-in-header {
    height: 25%;
    /* background-color: yellow; */
}

.check-in-restaurant {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.check-in-instructions {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    padding-top: none;
}

.check-in-form {
    width: 75%;
    margin: 0 auto;
    /* background-color: purple; */
    height: 100%;
    padding: 25px 0;
}

.check-in-form-label {
    text-align: left;
}

.check-in-form-input {
    display: block;
    margin: 5px 0px;
    width: 100%;
    border: 1px solid black;
    padding: 2px 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.or {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: normal;
}

.check-in-form-submit {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: rgb(31, 209, 140);
    font-size: 20px;
    height: 40px;
    width: 100px;
    border: none;
}

.app-footer {
    height: 10%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    bottom: 0;
}

.footer-policy {
    margin: 0;
    text-align: center;
}

/* Loading Screen */

#screen-2 {
    display: none;
}

.loading {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
    animation: spin 1s linear 0s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Screen 3 */

#screen-3 {
    display: none;
}

.success-overlay {
    background-color: rgb(31, 209, 140);
    width: 100%;
    height: 100%;
    position: fixed;
}

.success-container {
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.success-title {
    color: white;
    text-align: center;
    font-size: 40px;
}

.check-icon {
    color: white;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 100%;
    border: 7px solid white;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    animation: pop 0.5s linear 0.25s 1;
}

@keyframes pop {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.3);
    }
    55% {
        transform: scale(1.35);
    }
    85% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: scale(1.0);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.0);
    }
}

.check-icon i {
    margin: 2px 5px 0 0;
}

.success-message {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}