.contact-section {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.contact-section-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 50px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}