html {
	scroll-behavior: smooth;
}

body {
	background-color: #232C47;
	font-family: 'myriad-pro', Helvetica, sans-serif;
}

.app {
	height: 100%;
	width: 100%;
	position: absolute;
}

.container {
	max-width: 375px;
	margin: 0 auto;
}

input::placeholder {
    overflow: visible;
}