.simple-button {
    text-decoration: none;
    letter-spacing: 0px;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #CBCACA;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 15px 15px;
    font-weight: 600;
    font-size: 36px;
    margin: 0 auto;
    font-family: 'sweet-sans-pro';
    outline: none;
    transition: all 0.5s ease;
    display: block;
    width: 250px;
    text-align: center;
}

.simple-button:hover {
    cursor: pointer;
    color: black;
    background-color: #CBCACA;    
}