.check-in-menu-logout-container {
    border-top: 1px solid #98989C;
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 100%;
}

.check-in-menu-link {
    text-decoration: none;
    text-transform: capitalize;
    color: #37D2A7;
    text-align: center;
    display: block;
    margin: 10px 5px;
    font-size: 16px;
}