.market-place-item-info-container {
    width: 250px;
    position: absolute;
    bottom: 10px;
    margin-left: -125px;
    left: 50%;
    font-size: 18px;
}

.learn-more-link {
    display: block;
    text-decoration: none;
    text-align: center;
}