.learn-more-navbar {
    display: block;
    margin-top: -25px;
}

.learn-more-navbar-container {
    top: 200px;
    left: 400px;
    z-index: 3;
    position: absolute;
    background-color: #1E2744;
    width: 604px;
    height: 44px;
    border-radius: 50px;
    box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.3);
    transition: left 0.25s linear;
}

.learn-more-navbar-container-top {
    top: 0px;
    left: 50%;
    margin-left: -204px;
}

@media all and (max-width: 920px) {
    .learn-more-navbar-container {
        display: none;
    }
}