.toast-container {
    position: fixed;
    top: 15px;
    left: 50%;
    width: 300px;
    border-radius: 5px;
    margin-left: -150px;
    padding: 5px 10px;
    box-sizing: border-box;
    transform: translateY(-100px);
    min-height: 36px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.7);
}

.toast-error {
    background-color: #E35A42;
}

.toast-success {
    background-color: #32aa50;
}

.toast-message {
    margin: 0;
    color: white;
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 26px;
    text-align: center;
}

.show-toast {
    animation-name: show-toast;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hide-toast {
    animation-name: hide-toast;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}

@keyframes show-toast {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px)
    }
}

@-webkit-keyframes show-toast {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px)
    }
}

@-moz-keyframes show-toast {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px)
    }
}

@-o-keyframes show-toast {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes hide-toast {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-100px);
    }
}

@-webkit-keyframes hide-toast {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-100px);
    }
}

@-moz-keyframes hide-toast {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-100px);
    }
}

@-o-keyframes hide-toast {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-100px);
    }
}