.status-page {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
}

.status-container {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -200px;
    width: 300px;
}

.status-message {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 1.7px;
}