.hero-info {
    color: #DDDCDA;
    font-weight: 800;
    font-size: 90px;
    font-family: 'sweet-sans-pro';
    text-align: center;
    margin: 200px 0 25px;
    opacity: 0.8;
}

.hero-container {
    position: relative;
    padding-top: 5%;
}

@media (min-width : 1024px) {
    .hero-info {
        margin-top: 0px;
    }
}

@media (min-width: 1300px) {
    .hero-info {
        margin-top: 150px;
    }
}

@media all and (max-width : 760px) {
    .hero-container {
        padding-top: 1%;
    }

    .hero-info {
        font-size: 50px;
    }
}