.billing-cycle-option {
    height: 250px;
    padding: 3px;
    margin: 10px auto;
    box-sizing: border-box;
    width: 175px;
    box-sizing: border-box;
    border-radius: 3px;
    transition: transform 0.5s ease;
    transform-origin: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.03);
    background: transparent;
    border: 2px solid black;
    position: relative;
}

.billing-cycle-option-container > .button {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -52px;
}

@media all and (min-width: 620px) {
    .billing-cycle-option {
        margin: 10px;
    }
}

.billing-cycle-option:hover {
    cursor: pointer;
    transform: translateY(-2px)
}

.billing-cycle-option-active {
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
    background: transparent linear-gradient(330deg, #010101 0%, #22336C 54%, #45DFC2 100%) 0% 0% no-repeat padding-box;
}

.billing-cycle-option-container {
    transition: all 0.5s ease;
    padding: 5px 10px;
    background-color: #E7E7E7;
    height: 100%;
    box-sizing: border-box;
}

.billing-cycle-option-name {
    font-family: "sweet-sans-pro";
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.billing-cycle-option-price-container {
    margin: 10px 0;
    text-align: center;
}

.billing-cycle-option-price {
    color: #22336C;
    font-size: 24px;
}

.billing-cycle-option-unit {
    font-weight: 300;
    text-transform: capitalize;
}

.billing-cycle-option-description {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}