.button {
    font-family: 'sweet-sans-pro';
    width: auto;
    padding: 2px 25px;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 600;
    height: auto;
    min-height: auto;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    color: white;
    background: -webkit-linear-gradient(2,#45DFC2, #2488B3);
    background: linear-gradient(-2deg,#45DFC2, #2488B3);
    outline: none;
    transition: all 0.5s ease-in-out;
    max-width: 300px;
    margin: 35px auto;
    display: block;
}

.button:focus {
    animation-name: show;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: both;
}

.show-dark {
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.show-light {
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.show:hover {
    box-shadow: none;
    cursor: pointer;
}

.show-light:focus {
    box-shadow: none;
    cursor: pointer;
}

.show {
    background: -webkit-linear-gradient(2,#45DFC2, #2488B3);
    background: linear-gradient(-2deg,#45DFC2, #2488B3);
}

.hide {
    background-color: gray;
}

@keyframes show {
    0% {
        transform: scale(1.00);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.00);
    }
}

@-webkit-keyframes show {
    0% {
        transform: scale(1.00);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.00);
    }
}

@-moz-keyframes show {
    0% {
        transform: scale(1.00);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.00);
    }
}

@-o-keyframes show {
    0% {
        transform: scale(1.00);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.00);
    }
}