.contact-paragraph {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 40px;
    font-family: 'myriad-pro';
}

.contact-paragraph-container {
    width: 500px;
}

.contact-paragraph-container > .simple-button {
    margin: 50px 0px 0px;
}

@media all and (max-width : 900px) {
    .contact-paragraph {
        font-size: 18px;
        line-height: 35px;
    }
}

@media all and (max-width : 600px) {
    .contact-paragraph {
        line-height: 30px;
        font-size: 18px;
    }
}