.dashboard-title {
    font-family: 'myriad-pro', Helvetica;
    padding: 15px;
    width: 90%;
    margin: 25px auto;
    color: white;
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    letter-spacing: 0px;
    border-bottom: 1px solid #707070;
}