.hero {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'myriad-pro';
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.webp .hero {
    background: url("./hero-background.webp");
}

.no-webp .hero {
    background: url("./hero-background.jpg");
}

@media all and (max-width: 500px) {
    .webp .hero {
        background-size: auto 100vh;
    }

    .no-webp .hero {
        background-size: auto 100vh;
    }
}