.cart {
    position: relative;
    width: 40%;
    box-sizing: border-box;
    padding: 0 15px;
    border-left: 2px solid black;
}

.cart-price-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
}

.total {
    float: right;
    padding: 10px;;
    border-top: 1px solid black;
}

.cart-header {
    text-align: center;
}
