.learn-more-section-wrapper > .form-input > .form-label {
    font-size: 18px;
}

.learn-more-section-wrapper > .form-input > .input-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.learn-more-section-wrapper > .form-input > .input-line > .form-raw-input {
    font-size: 20px;
}