.authentication-container {
    background: #E8E8E8 0% 0% no-repeat padding-box;
    margin: 50px auto;
    width: 580px;
    height: 850px;
    box-shadow: 20px 20px 44px rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 45px;
}