.form-input {
    margin-top: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #707070;
}

.input-line {
    margin: 5px 0;
    height: 20px;
    position: relative;
}

.or {
    display: block;
    width: 36px;
    border: 1px solid #707070;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
    padding: 5px 0;
    margin: 0 auto;
}

.invalid-field {
    color: red;
    position: absolute;
    right: 5px; 
}

.valid-field {
    color: rgb(3, 216, 3);
    position: absolute;
    right: 5px; 
}