.check-in-header {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
}

.check-in-header-element {
    width: 33.333%;
}

.check-in-header-element > .logo-horizontal-container {
    width: 30px;
    height: 30px;
    margin: 4px auto;
    position: relative;
    z-index: 50;
}

.check-in-header-element > .logo-horizontal-container > .company-name {
    width: 30px;
    height: 30px;
    margin: 0;
}

.check-in-header-element > .icon {
    display: block;
    margin: 0 auto;
    z-index: 50;
    position: relative;
}