.learn-more-container {
    height: 100vh;
    width: 100%;
    background: #1E2744 0% 0% no-repeat padding-box;
    display: block;
    overflow-y: scroll;
    box-sizing: border-box;
}

.learn-more-wrapper {
    padding: 25px;
    height: auto;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
}

.learn-more-grid {
    margin: 100px 0 0 0;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
}

@media all and (max-width: 800px) {
    .learn-more-container {
        padding: 10px;
    }

    .learn-more-wrapper {
        padding: 0;
    }
}

@media all and (max-width: 600px) {
    .learn-more-container {
        padding: 0;
    }
}