.hero-logo-container {
    top: 50px;
    left: 50px;
    width: 100px;
    position: absolute;
    z-index: 100;
}

@media all and (max-width: 500px) {
    .hero-logo-container {
        top: 25px;
        left: 25px;
        width: 50px;
    }
}