.check-in-background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    box-sizing: border-box;
    background: transparent linear-gradient(180deg, #00152D 0%, #010D1B 100%) 0% 0% no-repeat padding-box;
}