.hero-title {
    text-align: center;
    letter-spacing: 12.1px;
    color: #FFFFFF;
    font-size: 100px;
    width: 100%;
    margin: 0;
    padding: 40px 0px;
    font-weight: 100;
    font-family: 'sweet-sans-pro';
}