.dashboard-profile-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    margin: 60px auto 0px;
}

.dashboard-profile-avatar > .icon {
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
    position: absolute;
    fill: #969090;
}

@media all and (max-width: 750px) {
    .dashboard-profile-avatar {
        margin: 10px auto;
    }
}

.dashboard-profile-avatar-image {
    display: block;
    margin: 25px auto;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
}