.dashboard-profile-icon-container > .icon {
    width: 30px;
    height: 30px;
}

.dashboard-profile-icons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-profile-icon-container {
    width: 33.3%;
    display: block;
    text-decoration: none;
    text-align: center;
}

@media all and (max-width: 750px) {
    .dashboard-profile-icon-container {
        width: 100%;
        margin: 10px 0
    }
    .dashboard-profile-icons {
        flex-wrap: wrap;
    }
}