.custom-checkbox-input {
    position: relative;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 3px;
    z-index: 3;
    outline: none;
}

.checkbox-input-light {
    border: #1B2D42 solid 2px;
}

.checkbox-input-dark {
    border: #AAAAAA solid 2px;
}

.custom-checkbox-input-shadow {
    margin-top: 6px;
    position: relative;
    width: 16px;
    outline: none;
    height: 16px;
    transition: 0.25s ease;
}

.custom-checkbox-input-shadow:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -moz-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -webkit-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -o-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    border-radius: 100px;
}

.custom-checkbox-input-shadow:focus {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -moz-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -webkit-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -o-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    border-radius: 100px;
}

.custom-checkbox-input-shadow:hover > .custom-checkbox-input {
    background-color: rgb(164, 164, 164);
}

.custom-checkbox-input-shadow:focus > .custom-checkbox-input {
    background-color: rgb(164, 164, 164);
}

.custom-checked-light {
    background-color: #1B2D42;
}

.custom-checked-dark {
    background-color: rgb(164, 164, 164);
}

.custom-checkbox-input-shadow:hover > .custom-checked-light {
    background-color: #1B2D42;
}

.custom-checkbox-input-shadow:focus > .custom-checked-light {
    background-color: #1B2D42;
}

.custom-checkbox-input-shadow:hover > .custom-checked-dark {
    background-color: rgb(164, 164, 164);
}

.custom-checkbox-input-shadow:focus > .custom-checked-dark {
    background-color: rgb(164, 164, 164);
}

.custom-checkbox-input-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -2px;
}