.custom-checkbox-input {
    position: relative;
    width: 16px;
    height: 16px;
    border: #1B2D42 solid 2px;
    box-sizing: border-box;
    border-radius: 3px;
    z-index: 3;
}

.custom-checkbox-input-shadow {
    margin-top: 6px;
    position: relative;
    width: 16px;
    height: 16px;
    transition: 0.25s ease;
}

.custom-checkbox-input-shadow:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);
    -moz-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);;
    -webkit-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);;
    -o-box-shadow: 0px 0px 0px 4px rgb(164, 164, 164);;
    border-radius: 100px;
}

.custom-checkbox-input-shadow:hover > .custom-checkbox-input {
    background-color:rgb(164, 164, 164);
}

.custom-checkbox-input-shadow:hover > .custom-checked {
    background-color: #1B2D42;
}

.custom-checked {
    background-color: #1B2D42;
}

.custom-checkbox-input-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -2px;
}