.contact-logs-section {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

.contact-logs-section-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 50px;
}

.contact-logs-content {
    display: flex;
}

@media all and (max-width: 600px) {
    .contact-logs-section-wrapper {
        padding: 10px;
    }
}

@media all and (max-width: 900px) {
    .contact-logs-content {
        display: block;
    }
}